/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
#tcfontsetter{
  list-style-image: url("chrome://fontsetter/skin/images/A.png") !important;
}

#tcfontsetter:-moz-lwtheme-brighttext {
  list-style-image: url("chrome://fontsetter/skin/images/A-inverted.png") !important;
}

#TabsToolbar:last-child :-moz-any(#tcfontsetter) {
  list-style-image: url("chrome://fontsetter/skin/images/A-inverted.png") !important;
}

